html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* clear */
.clear:before,.clear:after { content:' '; display:table; }
.clear:after { clear:both; }
.clear { *zoom:1;}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box; /* Firefox, other Gecko */
          box-sizing: border-box; /* Opera/IE 8+ */
}
.wrap{
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
/* perso */

.error{
	display: block;
	text-align: center;
	color: red;
	margin: 20px 0;
}
a{
    text-decoration: none;
    color: #fff;
    text-transform:capitalize;
    font-size: 1.3em;
    transition: .5s;

}
a:hover{
    opacity: .3;
    transition: 1s;
}
h2{
    font-size: 3.5em;
    color: #fff;
}
h3{
    font-size: 3em;
}
h4{
    font-size: 1.8em;
    margin:20px 0;
    font-weight: bold;
}
h5{
    font-size: 1.3em;
    color: #333;
}
h6{
    font-size: 1.5em;
    color: #000;
    font-weight: bold;
    padding: 20px 0;

}
header{
    background-color: #FFC400;
    height: 750px;
}
nav{
    background-color: #EAAE00;
    display: flex;
    justify-content: space-around;
}
nav div{
    width: 33.3333%;
}
nav ul{
    display: flex;
    justify-content: space-between;
    width: 33.3333333%;
}
nav ul li{
    width: 20%;
    margin: auto;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    width: 70px;
    height: 70px;

}

.search-barre{
    margin: auto;
    display: flex;
    justify-content: center;
}

.search-barre input{
    width: 150px;
    height: 40px;
    background-color: #FFC400;
    border: none;
}
.search-barre input:focus{
    border: none;
    outline: none;
}
.search-barre input::placeholder{
    color: #fff;
    padding-left: 10px;
}
.search-barre a{
    background-color: #00BFCC;
    border: none;
    width: 50px;
    height: 40px;
    display: flex;
}
.foo-barre{
    margin: auto;
    display: flex;
    justify-content: center;
}

.foo-barre input{
    width: 150px;
    height: 40px;
    background-color: #FFC400;
    border: none;
}
.foo-barre input:focus{
    border: none;
    outline: none;
}
.foo-barre input::placeholder{
    color: #fff;
    padding-left: 10px;
}
.foo-barre a{
    background-color: #00BFCC;
    border: none;
    width: 50px;
    height: 40px;
    display: flex;
}

.search-barre svg{
    margin: auto;
    background-color:#00BFCC;
    border: none;
}
.foo-barre svg{
    padding-left: 5px;
    margin: 10px;
    background-color:#00BFCC;
    border: none;
}

.header-all{
    display: flex;
    align-items: center;
}
.header-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
}
.header-content p{
    margin: 40px 0;
    font-size: 1.1em;
    color: #fff;
}
.header-picture{
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    width: 50%;
}
.header-picture img{
    height: 600px;
}


.services a{
    padding: 10px 30px;
    font-size: 1.1em;
    border: none;
    border-radius: 4px;
    background-color: #00BFCC;
}
.services a:last-child{
    border: 2px solid #FFF;
    background-color: transparent;
    font-size: 1em;
    margin-left: 20px;
}
/* 1er section */

.presentation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-vet{
    padding-right: 100px;
}

.presentation a{
    padding: 10px 30px;
    font-size: 1.1em;
    border: none;
    border-radius: 4px;
    background-color: #FFC400;
}
.presentation p{
    margin: 30px 0;
}

.vidéo-vet{
    position: relative;
}
.vidéo-vet iframe{
    margin: 80px 0;
}

.block-deco{
    position:absolute;
    z-index: -1;
    bottom: 40px;
    left: -40px;
    width: 200px;
    height: 200px;
    background-color: #FFC400 ;
}
/* 2nd section */
.expo-vet{
    background-color: #FFC400 ;
    color: #fff;
}
.expo-haut{
    text-align: center;
}
.expo-haut h2, .expo-haut p{
   padding: 30px 0;
}
.expo-description{
    display: flex;
    justify-content: center;
    text-align: center;
}
.expo-description img{
    width: 300px;
    height: 300px;
    border: 5px solid #fff;
}
.expo-presentation{
    margin-left: 50px;
}

.veto-info{
    display: flex;
    justify-content: center;
    text-align: center;
    margin:80px 0;
}
.expo-presentation img{
    width: 300px;
    height: 300px;
    border: 5px solid #fff;
}
.social-logo svg{
 margin-left: 10px;
 margin-top: 30px;
}

.infos{
 position: relative;
 background-color: #FFC400 ;
 height: 500px;
 color: #FFF;
}
.infos img{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity : .1 ;
   }
.infos h5{
    color: #FFF;  
    font-size: 1.9em;
    font-weight: bold;
}
.info-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
   }
.info-all img{
    width: 100px;
    height: 100px;
    position: relative;
    opacity: 1;
    filter: invert();
}
.info-client{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
.info-client p{
    font-size: 1.5em;
    font-weight: bold;
    margin:20px 0;
}

.recent-posts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-haut h2{
    color: #000;
    text-align: center;
    margin-top: 80px;
}
.post-haut p{
    font-size: 1.7em;
    margin:20px 0;
    text-align: center;
}
.post-description{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

}
.post-presentation{
    margin-left: 50px;
    margin-bottom: 80px;
}

.post-description img{
    width: 300px;
    height: 300px;
}

.post-content{
    padding: 0 70px 0 20px;
}

.post-content p{
    margin:10px 0;
}

.post-content h6 + p{
    color: #7BDEE5;
}
.post-content a{
    color: #7BDEE5;
}

footer{
    background-color: #313131;
    color: #fff;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h5{
    color: #fff;
    font-size: 1.7em;
    padding: 60px 0 30px 0; 
}

.foo{
    display: flex;
    flex-direction: column;
}

.foo a{
    line-height: 1.3em;
}
.search{
    display: flex;
    align-items: flex-end;
}

.search p{
    padding: 20px 0;
}

@media screen and (max-width: 1100px) {
    .wrap{
        max-width: 800px; 
    }
    .post-presentation img{
        width: 200px;
        height: 200px;
    }
  } 